.uiStreamSubstory .storyInnerContent .rfloat._3lt{margin-right:25px}._3lt .uiButton{margin-left:0}
._5qla{margin-top:3px;vertical-align:top}
._52m-{display:inline-block;vertical-align:middle}span._52m- ._3spg{margin-left:0}

#bootloader__yhCH{height:42px;}.bootloader__yhCH{display:block!important;}